/*
 Dynamic Style Configuration *
 This is handled by HyDE

 To generate a dynamic configuration 
 base on theme and user settings

*/

* {
    border-radius: 0em;
    font-family: "CaskaydiaCove Nerd Font","JetBrainsMono Nerd Font";
    font-size: 12px;
}
