layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffb4a3"
        inactive-color "#aa8981"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a3"
        inactive-color "#aa8981"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4a3"
        inactive-color "#aa8981"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a380"
    }
}

recent-windows {
    highlight {
        active-color   "#cb3611"
        urgent-color   "#ffb4ab"
    }
}